<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="container">
  <center><h1>Hello, [student name&id here]</center>
  <main>
    <div class="jumbotron"> <!---Page is borked, EJS is running the variables from within the comments, which is an oxymoron.-->
      <h2>Professionalism - </h2> <!-- <%= name %> -->
      <h2>Empathy - </h2> <!---<%= name %>--->
      <h2>Innovation - </h2> <!---<%= name %>--->
      <h2>Optimism - </h2> <!---<%= name %>--->
      <h2>Integrity - </h2> <!---<%= name %>--->
      <h2>Perseverance - </h2> <!---<%= name %>--->
  </body>
</html>
